.home {
  position: relative;
  overflow-y: hidden;
  max-width: 800px;
  height: 100%;

  span {
    cursor: pointer;
    color: $pink;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}

.scanwatch-face {
  margin-top: 100px;
  display: grid;
  place-items: center;

  img {
    width: 50%;
    opacity: 0.25;
  }
}
