.instructions {
  padding-bottom: 40px;

  h2 {
    margin-top: 40px;
  }
}

.screenshots {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.screenshot {
  position: relative;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $blue;
    font-weight: 500;
    font-size: 20px;
  }

  figcaption {
    width: 300px;
  }
}