.nav {
  height: 100%;
  width: 300px;
  z-index: 99;
  background-color: $black;
  color: $white;
  position: fixed;
  // margin-right: 40px;
  
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
  }

  li {
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.nav--open, .nav--close {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
}

.nav--close {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 250px;
  font-size: 30px;
  cursor: pointer;
}

.nav--content {
  position: sticky;
  padding: 70px 20px 20px 20px;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;

  button {
    margin-left: 5px;
  }
}

.react-datepicker__view-calendar-icon input {
  background-color: $white;
  color: $blue;
  border: none;
  border-radius: 3px;
  width: 85px;
  margin-left: 5px;
  cursor: pointer !important;

  &:focus, &:hover {
    box-shadow: 0 0 0 5px $blue-shadow;
    background-color: $blue;
    color: $white;
    transition-duration: 200ms;

  }

  &:focus-visible {
    outline: none;
  }
}

.react-datepicker__calendar-icon {
  padding: 5px 10px 5px 10px !important;
}

.react-datepicker-wrapper {
  width: min-content;
}
// CSSTransition
.nav--transition-enter {
  transform: translateX(-360px);
}
.nav--transition-enter-active {
  transform: translateX(0);
  transition: all 100ms linear;
}
.nav--transition-exit {
  transform: translateX(0);
}
.nav--transition-exit-active {
  transform: translateX(-360px);
  transition: all 100ms linear;
}

// Responsivness
// @media screen and (max-width: 900px) {
//   .nav--mobile-open, .nav--mobile-close {
//     display: flex;
//   }

//   .nav--mobile {
//     display: flex;
//     flex-direction: column;
//   }
// }

