body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  margin: 0;
  display: flex;
}

.app-wrapper {
  margin-left: 60px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  overflow-y: scroll;
  max-height: 400px;
  border: 1px solid $black;
  width: fit-content;
  display:block;
}

.table {

}

.upload {

}

td, th {
  border: 1px solid $gray;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $light-gray;
}