html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $white;
  background-image: url(gradient-bg.jpg);
  background-color: $blue;
  background-size: cover;
}

#root {
  margin: 0;
  display: flex;
}

.app-wrapper {
  // margin-left: 60px;
  transition: all 100ms linear;
  overflow: hidden;
  margin-right: 20px;
}

button {
  background-color: $white;
  color: $blue;
  border: none;
  border-radius: 3px;
  padding: 5px 0px;
  width: 120px;
  transition: .3s;
}

button:hover {
  background-color: $blue;
  box-shadow: 0 0 0 5px $blue-opacity;
  color: $white;
}

input[type=file] {
  padding: 5px 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  overflow-y: scroll;
  max-height: 400px;
  border: 1px solid $black;
  width: fit-content;
  display:block;
}

.table {
  
}

.upload {
  
}

td, th {
  border: 1px solid $gray;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $light-gray;
}

body::-webkit-scrollbar {
  width: $scrollbar-widht;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: $scrollbar-track-bg;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-bg;    /* color of the scroll thumb */
  border-radius: $scrollbar-thumb-br;       /* roundness of the scroll thumb */
  border: $scrollbar-thumb-border;  /* creates padding around scroll thumb */
}


/**
* ----------------------------------------
* animation fade-in
* ----------------------------------------
*/
.fade-in {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1000ms ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}