.table {
  color: $dark-gray;

  tr:hover {
    color: $white;
  }
}

table {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  border-collapse: collapse;
  overflow-y: scroll;
  max-height: 400px;
  width: fit-content;
  display:block;
}

thead {
  color: $white;
}

td, th {
  border-bottom: 1px solid $dark-gray;
  text-align: left;
  padding: 8px;
}