.chart-wrapper {
  padding: 20px;
  overflow-x: auto;
  min-width: 700px;
  max-width: 80vw;
  background-color: $black-opacity;
  border-radius: 10px;
  color: $dark-gray;
  user-select: none;

  h3 {
    margin-top: 0px;
  }
}

.raw-data {
  margin: 20px 0px;
  background-color: $black-opacity;
  color: $dark-gray;
  width: fit-content;
  border-radius: 10px;
}

.table {
  color: $dark-gray;

  tr:hover {
    color: $white;
  }
}

.show-raw-data {
  margin: 20px 0px 0px 0px;
  cursor: pointer;
  color: $dark-gray;
  transition-duration: 200ms;

  &:hover {
    color: white;
  }
}

.chart--date {
  display: flex;
  align-items: center;
  gap: 10px;

  h3 {
    margin: 0;
  }
}

.chart--date-icon {
  color: $white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: $black-opacity;
  transition-duration: 200ms;

  &:hover {
    background-color: $blue-opacity;
  }
}